{
  "name": "Fantastic Star Clicker",
  "description": "",
  "author": "Pine Mizune",
  "icons": {},
  "version": "{{version}}",
  "manifest_version": 2,
  "background": {
    "scripts": [
      "background.bundle.js"
    ],
    "persistent": false
  },
  "content_scripts": [
    {
      "matches": [
    	"*://github.com/*"
      ],
      "css": [
      ],
      "js": [
		"content_scripts.bundle.js"
      ],
      "run_at": "document_idle",
      "all_frames": false
    }
  ],
  "options_page": "options_page.html",
  "permissions": [
    "storage",
    "unlimitedStorage",
    "*://github.com/*"
  ],
  "web_accessible_resources": [
  ],
  "content_security_policy": "script-src 'self' 'unsafe-eval'; object-src 'self'"
}
